<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiBaseURL</key>
	<string>https://gateway.marvel.com</string>
	<key>PrivateKey</key>
	<string>ee14837fa9f7a4ce3fa26a383e9aa31099e8aec8</string>
	<key>PublicKey</key>
	<string>7c653584982ce9ab5b69cadf1d402dd4</string>
     <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
</dict>
</plist>
